
<div><%= @player1 %> vs <%= @player2 %></div>
<div> player 1: <%= @player1_hp %> Hit Points</div>
<div> player 2: <%= @player2_hp %> Hit Points</div>

<form action="/attack2">
<button type="submit" value="attack2">ATTACK <%= @player2 %></button>
</form>
<form action="/attack1">
<button type="submit" value="attack1">ATTACK <%= @player1 %></button>
</form>
