<%= @game.turn.name %>'s turn <br>
<%= @game.player1.name %> v <%= @game.player2.name %> <br>
<%= @game.player1.name %>: <%= @game.player1.hp %>HP <br>
<%= @game.player2.name %>: <%= @game.player2.hp %>HP <br>
<form action='/attack' method='get'>
  <input type='submit' id='attack_button' value= 'Attack <%= @game.opposing.name %>'/>
</form>
<form action='/attack' method='get'>
  <input type='submit' id='fixed_attack_button' value= 'Fixed Attack <%= @game.opposing.name %>'/>
</form>
